# Google
GR_CAPTCHA_SECRET_KEY=xxxx

# Firebase Token
FCM_TOKEN=xxxx

# Twilio Test Credentials
TWILIO_ACCOUNT_SID=xxxx
TWILIO_AUTH_TOKEN=xxx
TWILIO_FROM_NUMBER=xxxx

# Auth
VERIFICATION_CODE_EXPIRATION_TIME=5000

# AWS - Bucket
AWS_STORAGE_BUCKET_NAME=x
AWS_ACCESS_KEY_ID=y
AWS_SECRET_ACCESS_KEY=z
AWS_S3_REGION_NAME=us-east-1

# Django
DJANGO_SECRET_KEY=secret
DJANGO_DEBUG=true
DJANGO_PRODUCTION=false

# email
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=x
EMAIL_HOST_PASSWORD=y
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False

POSTGRES_DB=db_x
POSTGRES_USER=db_x
PG_PORT=5432
# dont touch PG_HOST
PG_HOST=database
POSTGRES_PASS=123
# dont touch ALLOW_IP_RANGE
ALLOW_IP_RANGE=0.0.0.0/0

LANG=C.UTF-8
LC_ALL=C.UTF-8

# Maps
GOOGLE_MAPS_KEY=x
